@import 'baseStyles';

.error404 {
    height: 90vh;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    a {
        border-bottom: 2px solid $accentColor;
        &:hover {
            transform: scale(1.2);
        };
    };
};