@import "mixins";

$headerFont: "PT Sans", sans-serif;
$bodyFont: "noto sans", sans-serif;

$backgroundColor: #f3e7da;
$accentColor: #a1c88aae;
$fontColor: #1d1d1d;
$pacColor: #cb2647;

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
figcaption,
button,
li {
    font-family: $headerFont;
}

p {
    font-family: $bodyFont;
}

a {
    text-decoration: none;
    color: $fontColor;
}

a,
button,
input,
textarea {
    &:focus-within {
        outline: 2px dotted $fontColor;
    }
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: $backgroundColor;
    color: $fontColor;
}

main section {
    padding: 25px 0;
}

.wrapper {
    width: 87.5%;
    max-width: 1600px;
    margin: 0 auto;
}

.cursorPointer {
    cursor: pointer;
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

// 🤷🏻‍♂️
.nightTime {
    background: $fontColor;
    main {
        background: lighten($color: $fontColor, $amount: 3.5);
    }
    h1,
    h2,
    h3,
    a,
    p,
    i,
    li,
    .skills ul li:hover,
    button,
    input,
    input::placeholder,
    textarea,
    textarea::placeholder {
        color: $backgroundColor;
    }
    section a,
    span span,
    .projectInfo p:hover > a,
    .projectInfo p:hover > span span {
        &::after {
            background: #a57589;
        }
        &:hover:after,
        &:focus-within::after {
            opacity: 0.4;
        }
    }
    a,
    button,
    input,
    textarea {
        &:focus-within {
            outline: 2px dotted lighten($color: $accentColor, $amount: 10);
        }
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
