$headerFont: 'PT Sans', sans-serif;
$bodyFont: 'Noto Sans JP', sans-serif;

$backgroundColor: #FFF5EE;
$accentColor: #9e80b880;
$secondAccentColor: rgb(106, 167, 189);
$fontColor: rgb(21, 21, 21);

html {
    font-size: 125%;
}

h1,
h2,
h3,
button,
li {
    font-family: $headerFont;
}

p {
    font-family: $bodyFont;
}

a {
    text-decoration: none;
    color: $fontColor;
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: rgb(234, 255, 233);
    color: $fontColor;
}

main section {
    padding: 25px 0;
}

.wrapper {
    width: 87.5%;
    max-width: 1200px;
    margin: 0 auto;
}

.cursorPointer {
    cursor: pointer;
}

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
};

.lightsOut {
    background: #151515;
    & h1,
    h2,
    h3,
    a,
    p,
    i,
    li,
    .skills ul li:hover,
    button,
    input::placeholder,
    textarea::placeholder {
        color: rgb(225, 204, 179);
    };
};