@import 'mixins';

$headerFont: 'PT Sans', sans-serif;
$bodyFont: 'Noto Sans JP', sans-serif;

$backgroundColor: #ebfaea;
$accentColor: #9e80b880;
$secondAccentColor: #6aa7bd;
$fontColor: #151515;
$nightFontColor: #e1ccb3;

html {
    font-size: 125%;
};

h1,
h2,
h3,
button,
li {
    font-family: $headerFont;
};

p {
    font-family: $bodyFont;
};

a {
    text-decoration: none;
    color: $fontColor;
};

a,
button,
input,
textarea {
    &:focus-within {
        outline: 2px dotted $fontColor;
    };
    &:active {
        outline: none;
    }
};

img {
    width: 100%;
    height: auto;
};

body {
    background-color: $backgroundColor;
    color: $fontColor;
};


main section {
    padding: 25px 0;
};

.wrapper {
    width: 87.5%;
    max-width: 1600px;
    margin: 0 auto;
};

.cursorPointer {
    cursor: pointer;
};

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
};

.nightTime {
    background: $fontColor;
    & h1,
    h2,
    h3,
    a,
    p,
    i,
    li,
    .skills ul li:hover,
    button,
    input,
    input::placeholder,
    textarea,
    textarea::placeholder {
        color: $nightFontColor;
    };
    section a::after,
    span span::after,
    .projectContent .projectInfo > p:hover > a::after,
    .projectContent .projectInfo > p:hover > span span::after,
    .projectContent .projectInfo .scrollToSkills:hover > a::after,
    .projectContent .projectInfo .scrollToSkills:hover > span span::after,
    .projectContent .projectInfo .scrollToSkills > p:hover > a::after,
    .projectContent .projectInfo .scrollToSkills > p:hover > span span::after {
        background: lighten($color: #9e80b8, $amount: 10);
    };
    a,
    button,
    input,
    textarea {
    &:focus-within {
        outline: 2px dotted lighten($color: $secondAccentColor, $amount: 10);
    };
    &:active {
        outline: none;
    }
};
};