@import "baseStyles";
@import "mixins";

main {
    border-radius: 25px;
    background-color: lighten($color: $backgroundColor, $amount: 1.5);
}

main section {
    margin: 25px 0;
}

h2 {
    position: relative;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: $headerFont;
    font-size: 2rem;
    &:hover::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -5px;
        left: 5%;
        width: 90%;
        border-bottom: 4px solid $accentColor;
        border-radius: 35%;
    }
    @include width-590 {
        display: block;
        text-align: center;
        margin: 0;
        transform: none;
        &:hover::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: -2px;
            left: 25%;
            width: 50%;
            border-bottom: 3px solid $accentColor;
            border-radius: 35%;
        }
    }
}

h3 {
    font-size: 1.3rem;
    text-align: center;
}

.projectsSection {
    margin: 25px 0 0 0;
    .projectsContainer {
        width: 90%;
        margin: 0 auto;
        & > section {
            min-height: 400px;
            padding: 25px 0;
            .projectContent {
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
            }
        }
    }
}

.projectContent {
    display: flex;
    padding: 25px 0;
    img {
        width: 100%;
    }
    .projectInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .scrollToSkills:hover {
            cursor: pointer;
        }
        &,
        .scrollToSkills {
            &:hover,
            & > p:hover {
                & > a,
                & > span a {
                    z-index: 1;
                    position: relative;
                    cursor: pointer;
                    &::after {
                        @include afterOverlay;
                    }
                    &:hover::after,
                    &:focus-within::after {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}

.github-app,
.wurdle {
    .projectPicture {
        width: 30%;
        flex-shrink: 0;
        img {
            border: 2px solid black;
            border-radius: 25px;
        }
    }
    .projectInfo {
        text-align: right;
        width: 65%;
        flex-shrink: 2;
    }
    @include width-690 {
        .projectContent {
            flex-direction: column;
            .projectPicture {
                order: 0;
                margin: 0 auto;
                width: 40%;
                min-width: 270px;
            }
            .projectInfo {
                margin: 0 auto;
                text-align: left;
                width: 90%;
            }
            .projectLinks {
                margin: 20px auto 0 auto;
            }
        }
    }
}

.hmmstagram,
.marsometer {
    .projectPicture {
        width: 22.5%;
        flex-shrink: 0;
    }
    .projectInfo {
        text-align: right;
        width: 72.5%;
        flex-shrink: 2;
    }
    @include width-690 {
        .projectContent {
            flex-direction: column;
            .projectPicture {
                order: 0;
                margin: 0 auto;
                width: 20%;
                max-width: 150px;
                min-width: 140px;
            }
            .projectInfo {
                margin: 0 auto;
                text-align: left;
                width: 90%;
            }
            .projectLinks {
                margin: 20px auto 0 auto;
            }
        }
    }
}

.pathsAndPodcasts,
.cashComrade {
    .projectPicture {
        width: 47.5%;
    }
    .projectInfo {
        text-align: right;
        width: 42.5%;
        p:nth-child(1) {
            margin: 0 0 20px 0;
        }
    }
    @include width-945 {
        .projectContent {
            flex-direction: column;
            .projectInfo {
                margin: 0 auto;
                text-align: left;
                width: 90%;
                p:nth-child(1) {
                    margin: 20px 0;
                }
            }
            .projectLinks {
                margin: 20px auto 0 auto;
            }
        }
    }
}

.hmmstagram {
    .projectPicture {
        order: 2;
    }
    .projectInfo {
        text-align: left;
    }
}

.pathsAndPodcasts {
    .projectPicture {
        order: 0;
        @include width-945 {
            margin: 0 auto;
            width: 90%;
            max-width: 575px;
        }
    }
}

.cashComrade {
    .projectPicture {
        order: 2;
        @include width-945 {
            order: 0;
            margin: 0 auto;
            width: 80%;
            max-width: 400px;
        }
    }
}

.pacRem {
    .projectPicture {
        width: 30%;
        order: 2;
    }
    .projectInfo {
        width: 65%;
    }
    @include width-855 {
        .projectContent {
            flex-direction: column;
            .projectPicture {
                margin: 0 auto;
                width: 40%;
                max-width: 500px;
                min-width: 200px;
                order: 1;
            }
            .projectInfo {
                margin: 0 auto;
                text-align: left;
                width: 90%;
                order: 2;
            }
            .projectLinks {
                margin: 20px auto 0 auto;
            }
        }
    }
}

.automaton {
    .projectContent,
    .projectInfo {
        align-items: center;
        justify-content: center !important;
    }
}

.projectLinks {
    margin: 20px 0;
    button {
        margin: 0 5px 0 0;
        padding: 0;
        border: none;
        border-radius: 2px;
        background: rgba($color: #ababab, $alpha: 0.3);
        box-shadow: 3px 5px $accentColor;
        &:hover {
            position: relative;
            top: 4px;
            left: 2px;
            box-shadow: 1px 1px $accentColor;
        }
        a {
            display: inline-block;
            width: 150px;
            height: 100%;
            padding: 2px 2px 5px;
        }
    }
    @include width-450 {
        display: flex;
        flex-direction: column;
        width: 80%;
        button {
            margin: 10px 0;
            width: 100%;
        }
    }
}

.skills {
    .futureSkills {
        padding: 40px 0 20px 0;
    }
    ul {
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin: 5px;
            height: 100px;
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: all 0.3s;
            i {
                padding: 10px;
                font-size: 2.8rem;
            }
            &:hover {
                cursor: crosshair;
                & > i {
                    transform: scale(1.15);
                }
            }
        }
    }
}

.outsideOfTech {
    .jamesIllustration {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        position: relative;
        button {
            position: absolute;
            top: 2.7%;
            right: 15.1%;
            z-index: 2;
            height: 22.9%;
            width: 16.3%;
            opacity: 0;
            cursor: pointer;
        }
        img {
            width: 100%;
            height: auto;
            z-index: 1;
        }
    }
    .jamesInfo {
        margin: 0 auto;
        width: 90%;
    }
}

form {
    width: 90%;
    padding: 50px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    input,
    textarea {
        padding: 5px 5px 5px 10px;
        background: none;
        border: none;
        border-bottom: 2px solid $accentColor;
        margin: 10px 0;
        resize: none;
        &::placeholder {
            opacity: 0.9;
            color: $fontColor;
        }
        @include width-590 {
            width: 95%;
            margin: 15px auto;
        }
    }
    textarea {
        border: 2px solid $accentColor;
        border-radius: 5px;
        padding: 10px;
    }
    .topFormRow {
        display: flex;
        justify-content: space-between;
        @include width-590 {
            flex-direction: column;
            input {
                input::placeholder {
                    text-align: center;
                }
            }
        }
    }
    button {
        font-size: 1.5rem;
        width: 30%;
        min-width: 130px;
        padding: 15px;
        margin: 15px auto;
        border: none;
        border-radius: 5px;
        background: rgba($color: #ababab, $alpha: 0.3);
        box-shadow: 4px 6px $accentColor;
        &:hover,
        &:focus-within {
            position: relative;
            top: 4px;
            left: 2px;
            cursor: pointer;
            box-shadow: 2px 2px $accentColor;
        }
    }
    p {
        text-align: center;
        a {
            position: relative;
            z-index: 1;
            &::after {
                @include afterOverlay;
            }
            &:hover::after,
            &:focus-within::after {
                opacity: 0.4;
            }
        }
    }
    @include width-590 {
        width: 95%;
    }
}
