@import 'baseStyles';

h2  {
    font-family: $headerFont;
    text-align: center;
    position: relative;
    &:hover::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -5px;
        left: 47.5%;
        width: 5%;
        border-bottom: 4px solid rgba(158, 128, 184, 0.5);
    }
}

// main {
//     background: $backgroundColor;
// }

.skills ul {
    display: flex;
    justify-content: space-evenly;
    i {
        padding: 10px;
        font-size: 50px;
        transition: all 0.1s;
        &:hover {
            transform: scale(1.1);
            color: rgba(158, 128, 184, 0.5);
        }
    }
    li {
        position: relative;
        i:hover::after {
            position: absolute;
            font-size: 15px;
            bottom: -10px;
            left: 7.5px;
            text-align: center;
        }
        .fa-html5:hover::after {
            content: "HTML";
        }
        .fa-sass:hover::after {
            content: "SASS/SCSS";
        }
    }
}